/* Light mode styles */

/* Set the font family and size for the whole page */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #ebdbb2; /* Light mode background color */
    color: #3c3836; /* Light mode text color */
    margin: 0;
    padding: 0;
}

/* Add some padding to the header and main section */
header,
main {
    padding: 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.comment {
    font-weight: normal;
    color: #3c3836; /* Light mode text color */
}

/* Style the header elements */
header h1 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #3c3836; /* Light mode text color */
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3c3836; /* Light mode text color */
    margin-bottom: 20px;
}

section {
    background-color: #f5f5f5; /* Light mode section background color */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

a {
    color: #3c3836; /* Light mode text color */
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #ff4081; /* Light mode link hover color */
}

.closed {
    color: rgba(190, 0, 0, 0.75);
}

.open {
    color: rgba(0, 190, 0, 0.75);
}

.thread-info,
.thread-time {
    font-size: 14px;
    color: #3c3836; /* Light mode text color */
    margin-top: 5px;
}

.postername {
    color: #3c3836; /* Light mode text color */
}

footer {
    text-align: center;
    padding-bottom: 50px;
}

.page-nav {
    margin: 0;
    display: inline;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #3c3836; /* Dark mode background color */
    color: #fbf1c7; /* Dark mode text color */
}

.dark-mode header h1,
.dark-mode h2,
.dark-mode .comment,
.dark-mode .thread-info,
.dark-mode .thread-time,
.dark-mode .postername,
.dark-mode footer,
.dark-mode .page-nav,
.dark-mode a {
    color: #fbf1c7; /* Dark mode text color */
}


.dark-mode section {
    background-color: #504945 /* Dark mode section background color */
}

#mode-toggle {
    padding: 10px 20px;
    background-color: #ff4081; /* Button background color */
    color: #fbf1c7; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#mode-toggle:hover {
    background-color: #d81b60; /* Button hover background color */
}